<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YOU WON!</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900" rel="stylesheet">
  </head>

  <body>
    <h1>You did it!</h1>
    <button type="button" name="button" onClick="window.location.href='/new_word';">Play again?</button>
  </body>
</html>
